<%= form_with(model: semester, local: true) do |form| %>
  <% if semester.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(semester.errors.count, "error") %> prohibited this semester from being saved:</h2>

      <ul>
      <% semester.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :schoolyear, "Período" %>
    <%= form.number_field :schoolyear %>
  </div>

  <div class="field">
    <%= form.label :year, "Ano" %>
    <%= form.date_field :year %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
