<p id="notice"><%= notice %></p>

<h1>Semestres</h1>

<table>
  <thead>
    <tr>
      <th>Período</th>
      <th>Ano letivo</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @semesters.each do |semester| %>
      <tr>
        <td><%= semester.schoolyear %></td>
        <td><%= semester.year %></td>
        <td><%= link_to 'Show', semester %></td>
        <% if can? :manage, Semester %>
          <td><%= link_to 'Editar', edit_semester_path(semester) %></td>
          <td><%= link_to 'Excluir', semester, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        <% end %>      
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :manage, Semester %>
  <%= link_to 'Adicionar semestre', new_semester_path %>
<% end %>
