<p id="notice"><%= notice %></p>

<p>
  <strong>Período:</strong>
  <%= @semester.schoolyear %>
</p>
<p>
  <strong>Ano letivo:</strong>
  <%= @semester.year %>
</p>

<% if can? :manage, Semester %>
  <%= link_to 'Editar', edit_semester_path(@semester) %>
<% end %>
<%= link_to 'Voltar', semesters_path %>
