<%= form_with(model: classroom, local: true) do |form| %>
  <% if classroom.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(classroom.errors.count, "error") %> prohibited this classroom from being saved:</h2>

      <ul>
      <% classroom.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :code, "Código da turma" %>
    <%= form.text_field :code %>
  </div>

  <div class="field">
    <%= form.label :teacher_id, "Professor" %>
    <%= form.collection_select :teacher_id,Teacher.all, :id, :name, prompt: true  %>
  </div>

  <div class="field">
    <%= form.label :subject_id, "Disciplina" %>
    <%= form.collection_select :subject_id, Subject.all, :id, :name, prompt: true  %>
  </div>

  <div class="field">
    <%= form.label :semestre_id, "Semestre" %>
    <%= form.collection_select :semester_id, Semester.all, :id, :schoolyear, prompt: true  %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
