<p id="notice"><%= notice %></p>

<h1>Turmas</h1>

<table>
  <thead>
    <tr>
      <th>Disciplina</th>
      <th>Código da turma</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @classrooms.each do |classroom| %>
      <tr>
        <td><%= classroom.subject.name %></td>
         <td><%= classroom.code %></td>
          <% if can? :manage, Classroom %>
            <td><%= link_to 'Editar', edit_classroom_path(classroom) %></td>
            <td><%= link_to 'Deletar', classroom, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
          <% end %>
        <td><%= link_to 'Ver', classroom %></td>
       </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :manage, Classroom %>
  <%= link_to 'Adicionar turma', new_classroom_path %>
<% end %>

