<p id="notice"><%= notice %></p>

<p>
  <strong>Disciplina:</strong>
  <%= @classroom.subject.name %>
</p>
<p>
  <strong>Período:</strong>
  <%= @classroom.semester.schoolyear %>
</p>
<p>
  <strong>Código da turma:</strong>
  <%= @classroom.code %>
</p>
<% if can? :manage, Classroom %>
  <%= link_to 'Editar', edit_classroom_path(@classroom) %> 
<% end %>
<%= link_to 'Voltar', classrooms_path %>
