<h2>Sign up</h2>

<%= form_for(resource, as: resource_name, url: registration_path(resource_name)) do |f| %>
  <%= devise_error_messages! %>

  <div class="field">
    <%= f.label :name, "Nome" %><br/>
    <%= f.text_field :name, autofocus: true, autocomplete: "name" %>
  </div>

  <div class="field">
    <%= f.label :email, "E-mail" %><br/>
    <%= f.email_field :email, autofocus: true, autocomplete: "email" %>
  </div>

  <div class="field">
    <%=f.label :kind, "Cargo"%>
    <%= f.select :kind, user_kind_options, id: :user_kind %>
  </div> 

  <div class="field">
    <%= f.label :photo, "Escolha uma foto" %><br/>
    <%= f.file_field :photo %>
  </div> 

  <div class="field">
    <%= f.label :password, "Senha" %>
    <% if @minimum_password_length %>
    <em>(<%= @minimum_password_length %> characters minimum)</em>
    <% end %><br/>
    <%= f.password_field :password, autocomplete: "new-password" %>
  </div>

  <div class="field">
    <%= f.label :password_confirmation, "Confirmação de senha" %><br/>
    <%= f.password_field :password_confirmation, autocomplete: "new-password" %>
  </div>

  <div class="cadastro">
    <%= f.submit "Entrar" %>
  </div>
<% end %>

<%= render "devise/shared/links" %>
