<p id="notice"><%= notice %></p>

<h1>Alunos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Matrícula</th>
      <th>Curso</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @students.each do |student| %>
      <tr>
        <td><%= student.name %></td>
        <td><%= student.subscription %></td>
        <td><%= student.course.name %></td>
        <td><%= link_to 'Ver', student %></td>
        <% if can? :manage, Student %>
          <td><%= link_to 'Editar', edit_student_path(student) %></td>
          <td><%= link_to 'Excluir', student, method: :delete, data: { confirm: 'Are you sure?' } %></td>
        <% end %>      
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%if can? :create, Student %>
  <%= link_to 'Adicionar estudante', new_student_path %>
<% end %>