<p id="notice"><%= notice %></p>

<p>
  <strong>Nome:</strong>
  <%= @student.name %>
</p>

<p>
  <strong>Matrícula:</strong>
  <%= @student.subscription %>
</p>

<p>
  <strong>Graduação:</strong>
  <%= @student.course.name %>
</p>

<% if can? :manage, Student %>
  <%= link_to 'Editar', edit_student_path(@student) %> 
<% end %>
<%= link_to 'Voltar', students_path %>
