<p id="notice"><%= notice %></p>

<h1>Usuários</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th>Acesso permitido como:</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @users.each do |user| %>
      <tr>
        <td><%= user.name %></td>
        <td><%= user.kind %></td>
        <% if user.teacher %>
          <td><%= link_to 'Ver', user.teacher %></td>
        <% end %>
        <% if !user.teacher %>
          <td><%= link_to 'Ver', user%></td>
        <% end %>
        <% if can? :manage, User %>
          <td><%= link_to 'Editar', edit_user_registration_path(user) %></td>
          <td><%= link_to 'Excluir', user, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%if can? :create, User %>
  <%= link_to 'Adicionar usuário', new_user_path %>  
<% end %>