<p id="notice"><%= notice %></p>

<p>
  <% if @user.photo.present?%>
    <%= image_tag(@user.photo.url) %>
  <% end %>
</p>

<p>
  <strong>Name:</strong>
  <%= @user.name %>
</p>

<% if @user.kind %>
  <p>
    <strong>Acesso como:</strong>
    <%= @user.kind %>
  </p>
<% end%>

<% if @user.teacher %>
  <p>
    <strong>Registro:</strong>
    <%= @user.teacher.registration %>
  </p>

  <p>
    <strong>Departamento:</strong>
    <%= @user.teacher.departament.name %>
  </p>


<% end %>
<%# o que eu quero com o código abaixo, apenas o próprio dono da conta ou administrador podem ver o link para edição, mas não tá funcionando :) %>
<%# ()  %>
  


<% if user = current_user or can? :manage, User %>
  <%= link_to 'Editar', edit_user_registration_path(@user) %> 
<% end %> 
<%= link_to 'Voltar', users_path %>

