<p id="notice"><%= notice %></p>

<h1>Departamentos</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @departaments.each do |departament| %>
      <tr>
        <td><%= departament.name %></td>
        <td><%= link_to 'Ver', departament %></td>
        <% if can? :manage, Departament %>
          <td><%= link_to 'Editar', edit_departament_path(departament) %></td>
          <td><%= link_to 'Excluir', departament, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :manage, Departament %>
  <%= link_to 'Adicionar departamento', new_departament_path %>
<% end %>