<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @departament.name %>
</p>

<% if can? :manage, Departament %>
  <%= link_to 'Editar', edit_departament_path(@departament) %> 
<% end %>
<%= link_to 'Voltar', departaments_path %>
