<p id="notice"><%= notice %></p>

<h1>Disciplinas</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Departamento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @subjects.each do |subject| %>
      <tr>
        <td><%= subject.name %></td>
        <td><%= subject.departament.name %></td>
        <td><%= link_to 'Ver', subject %></td>
        <%if can? :manage, Subject %>
          <td><%= link_to 'Editar', edit_subject_path(subject) %></td>
          <td><%= link_to 'Excluir', subject, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        <% end %>
        </tr>
    <% end %>
  </tbody>
</table>

<br>

<%if can? :create, Subject %>
  <%= link_to 'Adicionar disciplina', new_subject_path %>
<% end %>
