<p id="notice"><%= notice %></p>

<p>
  <strong>Nome da matéria:</strong>
  <%= @subject.name %>
</p>

<p>
  <strong>Departamento:</strong>
  <%= @subject.departament.name %>
</p>
<% if can? :manage, Subject %>
  <%= link_to 'Editar', edit_subject_path(@subject) %>
<% end %>
<%= link_to 'Voltar', subjects_path %>
