<%= form_with(model: lesson, local: true) do |form| %>
  <% if lesson.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(lesson.errors.count, "error") %> prohibited this lesson from being saved:</h2>

      <ul>
      <% lesson.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.label :name, "Código da aula" %>
    <%= form.text_field :name %>
  </div>

  <div class="field">
    <%= form.label :day, "Dia da aula" %>
    <%= form.text_field :day %>
  </div>

  <div class="field">
    <%= form.label :classroom_id, "Turma correspondente" %>
    <%= form.collection_select :classroom_id, Classroom.all, :id, :code, prompt: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
