<p id="notice"><%= notice %></p>

<h1>Aulas</h1>

<table>
  <thead>
    <tr>
      <th>Código da aula</th>
      <th>Turma</th>
      <th>Dia</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @lessons.each do |lesson| %>
      <tr>
        <td><%= lesson.name %></td>
        <td><%= lesson.classroom.code %></td>
        <td><%= lesson.day %></td>
        <td><%= link_to 'Ver', lesson %></td>
        <% if can? :manage, Lesson %>
          <td><%= link_to 'Editar', edit_lesson_path(lesson) %></td>
          <td><%= link_to 'Excluir', lesson, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        <% end %>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :manage, Lesson %>
  <%= link_to 'Criar aula', new_lesson_path %>
<% end %>