<p id="notice"><%= notice %></p>

<p>
  <strong>Código:</strong>
  <%= @lesson.name %>
</p>

<p>
  <strong>Turma:</strong>
  <%= @lesson.classroom.code %>
</p>

<p>
  <strong>Dia:</strong>
  <%= @lesson.day %>
</p>
<% if can? :manage, Lesson %>
  <%= link_to 'Editar', edit_lesson_path(@lesson) %>
<% end %>
<%= link_to 'Voltar', lessons_path %>
