<%= form_with(model: teacher, local: true) do |form| %>
  <% if teacher.errors.any? %>
    <div id="error_explanation">
      <h2><%= pluralize(teacher.errors.count, "error") %> prohibited this teacher from being saved:</h2>

      <ul>
      <% teacher.errors.full_messages.each do |message| %>
        <li><%= message %></li>
      <% end %>
      </ul>
    </div>
  <% end %>

  <div class="field">
    <%= form.hidden_field(:name,  :value => teachers_name) %>
  </div>

  <div class="field">
    <%= form.label :registration %>
    <%= form.number_field :registration %>
  </div>

  <div class="field">
    <%= form.label :user_id, "Nome do usuário" %>
    <%= form.collection_select :user_id, User.all, :id, :name, prompt: true %>
  </div>

  <div class="field">
    <%= form.label :departament_id, "Nome do departamento" %>
    <%= form.collection_select :departament_id, Departament.all, :id, :name, prompt: true %>
  </div>

  <div class="actions">
    <%= form.submit %>
  </div>
<% end %>
