<p id="notice"><%= notice %></p>

<h1>Professores</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Registro</th>
      <th>Departamento</th>
      <th colspan="4"></th>
    </tr>
  </thead>

  <tbody>
    <% @teachers.each do |teacher| %>
      <tr>
        <td><%= teacher.user.name %></td>
        <td><%= teacher.registration %></td>
        <td><%= teacher.departament.name %></td>
        <td><%= link_to 'Ver', teacher.user %></td>
        <% if can? :manage, Teacher %>
          <td><%= link_to 'Editar', edit_teacher_path(teacher) %></td>
          <td><%= link_to 'Deletar', teacher, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        <% end %>
       </tr>
    <% end %>
  </tbody>
</table>

<br>

<% if can? :create, Teacher %>
  <%= link_to 'Adicionar novo professor', new_teacher_path %>
<% end %>