<p id="notice"><%= notice %></p>

<p>
  <% if @teacher.user.photo.present?%>
    <%= image_tag(@user.photo.url) %>
  <% end %>
</p>

<p>
  <strong>Nome:</strong>
  <%= @teacher.user.name %>
</p>

<p>
  <strong>Registro:</strong>
  <%= @teacher.registration %>
</p>

<p>
  <strong>Departament:</strong>
  <%= @teacher.departament.name %>
</p>

<% if can? :manage, Teacher %>
  <%= link_to 'Editar', edit_teacher_path(@teacher) %>
<% end %>

<%= link_to 'Voltar', teachers_path %>
