<p id="notice"><%= notice %></p>

<h1>Cursos</h1>

<table>
  <thead>
    <tr>
      <th>Nome</th>
      <th>Departamento</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @courses.each do |course| %>
      <tr>
        <td><%= course.name %></td>
        <td><%= course.departament.name %></td>
        <% if can? :manage, Course %>
          <td><%= link_to 'Editar', edit_course_path(course) %></td>
          <td><%= link_to 'Deletar', course, method: :delete, data: { confirm: 'Tem certeza?' } %></td>
        <% end %>
        <td><%= link_to 'Ver', course %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>
<% if can? :manage, Course %>
  <%= link_to 'Registrar novo curso', new_course_path %>
<% end %>
