<p id="notice"><%= notice %></p>

<p>
  <strong>Name:</strong>
  <%= @course.name %>
</p>

<p>
  <strong>Departament:</strong>
  <%= @course.departament.name %>
</p>

<% if can? :manage, Course%>
  <%= link_to 'Editar', edit_course_path(@course) %> 
<% end %>
<%= link_to 'Voltar', courses_path %>
