<!DOCTYPE html>
<html>
  <head>
    <title>Sistema administrativo UFF</title>
    <%= csrf_meta_tags %>
    <%= csp_meta_tag %>

    <%= stylesheet_link_tag    'application', media: 'all', 'data-turbolinks-track': 'reload' %>
    <%= javascript_include_tag 'application', 'data-turbolinks-track': 'reload' %>
  </head>

  <body>
    <% if current_user %>
      <%= link_to 'Sair', destroy_user_session_path, method: :delete %>
      <%= link_to 'Home', root_path %>
      <%= link_to 'Ver todos os professores', teachers_path %>
      <%= link_to 'Ver semestres letivos', semesters_path %>
      <%= link_to 'Ver aulas',  lessons_path %>
      <%= link_to 'Alunos matrículados', students_path %>
      <%= link_to 'Ver disciplinas', subjects_path %>
      <%= link_to 'Cursos registrados', courses_path %>
      <%= link_to 'Departamentos', departaments_path %>
      <%= link_to 'Turmas', classrooms_path %>
      <%= link_to 'Usuários', users_path %>
    <%= link_to 'Perfil', current_user %>
    <% end %>

    <% if !current_user %>
     <%= link_to 'Login', new_user_session_path %>
    <% end %>


     
    <p class="notice"><%= notice %></p>
    <p class="alert"><%= alert %></p>   
    <%= yield %>

  </body>
</html>
